<div class="Header">
  <p>Name: <b>Aleksandar Trninkov</b> Tagline: <b>Software Developer</b> Mobile phone: <b>587-357-4410</b> e-mail address:  <b>acetrninkov@gmail.com</b></p>
</div>
<hr>
<div class="content">
<h1>Skills</h1>
<hr/>
<ul>
    <li>Experience with the following coding languages: C#, ASP.NET, Java, Swift, PL/SQL, Transact SQL, HTML5, CSS</li>
    <li>IDEs: Visual Studio, SQL server management studio, Android studio, XCode, Oracle forms builder</li>
    <li>GitHub/scrum experience</li>
    <li>Team work skills and the ability to work independently</li>
    <li>Oral and written communication skills. Able to convey understanding of technical subjects to non-technical people.</li>
</ul>
<h1>Additional Information</h1>
<hr/>
<ul>
    <li>Global Game Jam Jan20-22 2017</li>
    <ul>
        <li>Won Second place</li>
        <li>Worked in a team of 5</li>
        <li>Used C# and visual studio</li>
    </ul>
    <li>Made dean's honor roll 5 semesters in a row at NAIT</li>
</ul>
</div>