<div class="Calculator">
<div for="display" class="display" (keydown)="onKeydown($event)">{{previousDisplay}}<br>
    {{displayValue}}</div>
<button class="CalculatorButton" (click)='Operation("%")'>%</button>
<button class="CalculatorButton" (click)="Clear()">C</button>
<button class="CalculatorButton" (click)="ClearEntry()">CE</button>
<button class="CalculatorButton" (click)='ComplexOperation("◄")'>◄</button>
<button class="CalculatorButton" (click)='Operation("÷")'>÷</button>
<br>
<button class="CalculatorButton" (click)='ComplexOperation("√")'>√</button>
<button class="CalculatorButton" (click)="PressNum(7)">7</button>
<button class="CalculatorButton" (click)="PressNum(8)">8</button>
<button class="CalculatorButton" (click)="PressNum(9)">9</button>
<button class="CalculatorButton" (click)='Operation("X")'>X</button>
<br>
<button class="CalculatorButton" (click)='ComplexOperation("x²")'>x²</button>
<button class="CalculatorButton" (click)="PressNum(4)">4</button>
<button class="CalculatorButton" (click)="PressNum(5)">5</button>
<button class="CalculatorButton" (click)="PressNum(6)">6</button>
<button class="CalculatorButton" (click)='Operation("-")'>-</button>
<br>
<button class="CalculatorButton" (click)='ComplexOperation("x³")'>x³</button>
<button class="CalculatorButton" (click)="PressNum(1)">1</button>
<button class="CalculatorButton" (click)="PressNum(2)">2</button>
<button class="CalculatorButton" (click)="PressNum(3)">3</button>
<button class="CalculatorButton" (click)='Operation("+")'>+</button>
<br>
<button class="CalculatorButton" (click)='ComplexOperation("1/X")'>1/x</button>
<button class="CalculatorButton" (click)='ComplexOperation("±")'>±</button>
<button class="CalculatorButton" (click)="PressNum(0)">0</button>
<button class="CalculatorButton" (click)='PressNum(".")'>.</button>
<button class="CalculatorButton" (click)='Operation("")'>=</button>
</div>

<div class="History"> History:<br>
    {{historicDisplay}}
</div>